<div class="sidebar">
  <div class="filter-section">
    <h2>Filters</h2>
    <ul>
      <li><label><input type="checkbox">Category 1</label></li>
      <li><label><input type="checkbox">Category 2</label></li>
      <li><label><input type="checkbox">Category 3</label></li>
    </ul>
  </div>
  <div class="filter-section">
    <h2>Price Range</h2>
    <input type="range" min="0" max="100" value="50">
  </div>
</div>
<div class="content">
</div>
<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #sidenav class="sidenav">-->
<!--    <mat-toolbar color="primary">Filters</mat-toolbar>-->
<!--    <mat-list>-->
<!--      <mat-list-item *ngFor="let category of categories">-->
<!--        <mat-checkbox>{{ category }}</mat-checkbox>-->
<!--      </mat-list-item>-->
<!--    </mat-list>-->
<!--    <mat-toolbar color="primary">Price Range</mat-toolbar>-->
<!--    <mat-slider min="0" max="100" step="1" thumbLabel></mat-slider>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <div class="content">-->
<!--      &lt;!&ndash; Main content goes here &ndash;&gt;-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
