/* Container */
.container
  display: flex
  border-radius: 20px

.item-card__image
  margin: auto

.item-card
  display: flex
  flex-direction: column
  height: 400px
  overflow: hidden
  padding: 20px

.item-card__manufacturer
  position: relative
  top: -20px

.item-card__details
  flex: 1
  display: flex
  flex-direction: column
  justify-content: space-between

.item-card__header h2
  font-size: 1rem /* Smaller font size */
  color: #333



.item-card__price p
  position: relative
  top: -30px
  font-size: 12px
  font-weight: 550
  color: red
  margin-top: 2px


.item-card__wishlist,
.item-card__description
  font-size: 0.8rem /* Smaller font size */
  color: #555
  margin: 2px 0
  position: relative
  top: -38px


.item-card__expiry-date

  font-size: 0.7rem /* Smaller font size */
  position: relative
  top: -35px

.item-card__stock
  font-size: 0.7rem /* Smaller font size */
  position: relative
  top: -43px

.item-card__manufacturer
  color: dimgray
  font-weight: 580


/* Wishlist Indicator */
.wishlist-indicator
  font-weight: bold
  &.wishlist-yes
    color: #4caf50 /* Green color for Yes */

  &.wishlist-no
    color: #f44336 /* Red color for No */



/* Stock Indicator */
.stock-indicator
  font-weight: bold
  &.in-stock-yes
    color: #4caf50 /* Green color for Yes */

  &.in-stock-no
    color: #f44336 /* Red color for No */



/* Item Card Icons */
.item-card__icons
  position: relative
  top: -55px



  .social-icon
    font-size: 1rem /* Smaller font size */
    color: #333
    margin: 10px auto
    cursor: pointer
    transition: color 0.3s ease

    &:hover
      color: #ff6600 /* Orange color on hover */



.align-center
  display: flex
  justify-content: center
  align-items: center
