<mat-card *ngIf="item" class="container">
  <div class="item-card">
    <div class="item-card__image">
      <img [src]="item.item_image" alt="{{ item.item_name }}" width="180px" height="180px"/>
    </div>
    <div class="item-card__details">
      <div class="item-card__header">
        <h2 class="align-center">{{ item.item_name }}</h2>
        <p class="item-card__manufacturer align-center">{{ item.item_manufacturer }}</p>
      </div>

      <div class="item-card__price align-center">
        <p>Price: ${{ item.item_price }}</p>
      </div>

      <p class="item-card__description">{{ item.item_description | slice: 0:85}}...</p>
      <p class="item-card__expiry-date align-center">Expiry Date: {{ item.item_expiry_date | date: 'mediumDate' }}</p>
      <p class="item-card__stock align-center">In Stock: <span class="stock-indicator" [class.in-stock-yes]="item.item_in_stock" [class.in-stock-no]="!item.item_in_stock">{{ item.item_in_stock ? 'Yes' : 'No' }}</span></p>
      <div class="item-card__icons align-center">
        <mat-icon class="social-icon">shopping_cart</mat-icon>

      </div>
    </div>
  </div>
</mat-card>
