<div class="header">

  <div class="header-item">
  <mat-icon class="header-item__star">star</mat-icon>
  <div class="header-item__icon">About Us</div>
  </div>

  <div class="header-item">
    <mat-icon class="header-item__star">star</mat-icon>
    <div class="header-item__icon">EShop</div>
  </div>

  <div class="header-item">
    <mat-icon class="header-item__star">star</mat-icon>
    <div class="header-item__icon">Postage & packaging</div>
  </div>

  <div class="header-item">
    <mat-icon class="header-item__star">star</mat-icon>
    <div class="header-item__icon">Our Team</div>
  </div>

  <div class="header-item">
    <mat-icon class="header-item__star">star</mat-icon>
    <div class="header-item__icon">Jobs</div>
  </div>

</div>
