.header
  margin: 30px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  &-item
    display: flex
    flex-direction: row
    margin-right: 20px

    &__icon
      margin: auto
      font-size: smaller
      font-weight: 550

    &__star
      font-size: 12px
      font-weight: 550
      position: relative
      top: 5px
      left: 10px
      color: red

