<mat-card class="navbar-container">

  <div class="navbar-left">
    <img src="assets/images/green-leaf-logo-vector.jpg" height="200" width="200" alt="">
    <div class="logo-label">
      VISIUM
    </div>
    <div class="logo-label-small">
      Your daily nutritionist
    </div>
  </div>
  <div class="navbar-right">
    <input matInput placeholder="Search our store...">
  </div>
  <div class="navbar-icon">
    <mat-icon>person</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>shopping_cart</mat-icon>
  </div>
</mat-card>
