.navbar-container
  height: 200px
  margin: 0 20px 20px 10px
  display: grid
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr
  border-radius: 20px

.navbar-left
  grid-column: 1/2

.navbar-right
  grid-column: 3/4
  margin: auto

.navbar-icon
  grid-column: 4/5
  margin: auto
  opacity: 80%

.logo-label
  font-family: 'Arial', sans-serif
  font-size: 62px
  position: absolute
  color: #4caf50
  top: 95px
  left: 160px

.logo-label-small
  font-family: 'Arial', sans-serif
  font-size: 17px
  position: absolute
  color: #4caf50
  top: 63px
  left: 208px
