
.header
  margin: 0 20px


.navbar
  margin-bottom: 20px

.main
  display: grid
  grid-template-columns: 0.2fr 0.8fr
  @media screen and (max-width: 600px)
   display: grid
   grid-template-columns: 0 100%

.filter
  grid-column: 1/2
  margin: 0 20px

.grid
  grid-column: 2/3

