$margin-size: 0 20px
$transition-duration: 1.3s

.item-card__container
  margin: $margin-size
  transition: margin $transition-duration
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
  gap: 10px

  @media screen and (max-width: 600px)
    margin: 0 10px

  @media screen and (max-width: 400px)

